{% extends 'main/base.html' %}

{% block content %}
<h1 class="test-name">{{title}}</h1>

<form method="post">
    {% csrf_token %}
          <div class="reg-log-form">
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="title"><label for="{{ f.id_for_label }}">{{f.label}}: </label></p><p>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
        <button type="submit" class="start-button">Войти</button>
        <p class="reg-label">Нет аккаунта? <a href="{% url 'register' %}" class="start-button">Зарегестрироватся</a></p>
    </div>
</form>

{% endblock %}