{% extends 'main/base.html' %}
{% block content %}
<h1 class="title">Информация про тест "{{test.name}}"</h1>
<div class="question">
    <h1 class="test-name">{{ test.name }}</h1>
    <h1 class="test-description">{{ test.description }}</h1>
    <h1 class="test-q-q">Вопросов: {{ test.question_quantity }}</h1>
    <div>
    <a href="{% url 'question' test_id=test.pk q_number=1 %}" class="start-button">Пройти тест</a>
    <a href="{% url 'main'%}" class="back-button">Назад</a>
        </div>
</div>

{% endblock %}